<%- include ../partials/header.ejs %>
<div class="container-fluid">
    <div class="container margin-top-adder">
        <div class="card m-auto padding-3rem shadow">
            <form action="/campgrounds" method="post" class="addForm">
                <label>Name
                    <input type="text" name="searchName" class="form-control">
                </label>
                <label>url
                    <input type="text" name="searchLink" class="form-control">
                </label>
                <label>Description
                    <input type="text" name="descript" class="form-control">
                </label>
                
                <input type="submit" class="btn btn-submit">
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>