<%- include('../partials/header') %>
<div class="container">
    <div class="container margin-top-adder">
        <div class="card m-auto padding-3rem shadow">
            <form action="/campgrounds" method="post" class="addForm">
                <label>Name
                    <input type="text" name="searchName" class="form-control">
                </label>
                <label>Price
                    <input type="number" name="price" class="form-control" min="0.01" step="0.01">
                </label>
                <label>url
                    <input type="text" name="searchLink" class="form-control">
                </label>
                <label>Description
                    <input type="text" name="descript" class="form-control">
                </label>
                
                <input type="submit" class="btn btn-outline-success">
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>